{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
    <div class="text-center">
        Уверены, что хотите удалить {{ object.username }}
        ?
        <form action="{% url 'adminapp:product_delete' pk=object.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'adminapp:products' %}">
                Отмена
            </a>
        </button>
    </div>
{% endblock %}