{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    {% include 'include/inc_admin_menu.html' %}
    <h2 class="text-center">Users</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr class="text-center">
            <th class="d-none d-lg-table-cell" scope="col">Root</th>
            <th scope="col">Login</th>
            <th class="d-none d-lg-table-cell" scope="col">Avatar</th>
            <th class="d-none d-lg-table-cell" scope="col">Username</th>
            <th class="d-none d-lg-table-cell" scope="col">Age</th>
            <th class="d-none d-lg-table-cell" scope="col">Email</th>
            <th class="d-none d-lg-table-cell" scope="col">Logged</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr class="text-center">
                <th class="d-none d-lg-table-cell" scope="row">
                    {% if object.is_superuser %}
                        admin
                    {% else %}
                        user
                    {% endif %}
                </th>
                <td>
                    <p><strong>{{ object.username }}</strong></p>
                </td>
                <td class="d-none d-lg-table-cell">
                    {% if object.avatar %}
                        <a href="/media/{{ object.avatar }}" target="_blank">avatar</a>
                    {% else %}
                        No avatar
                    {% endif %}
                </td>
                <td class="d-none d-lg-table-cell">
                    <p>
                        {% if object.first_name %}
                            <b>{{ object.first_name|title }}</b>
                            {% if object.last_name %}
                                <p>{{ object.last_name|title }}</p>
                            {% endif %}
                        {% endif %}
                    </p>
                </td>
                <td class="d-none d-lg-table-cell">{{ object.age }} лет</td>
                <td class="d-none d-lg-table-cell">{{ object.email }}</td>
                <td class="d-none d-lg-table-cell">{{ object.last_login }}</td>
                <td>
                    {% if object.is_active == True %}
                    Active
                    {% else %}
                    No active
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary removeBtn">
                            <a class="d-lg-none" href={% url 'adminapp:user_update' pk=object.pk %}><i class="fas fa-edit"></i></a>
                            <a class="user d-none d-lg-block" href={% url 'adminapp:user_update' pk=object.pk %}>
                                Edit
                            </a>
                        </button>
                        <button type="button" class="btn btn-secondary editBtn">
                            <a class="d-lg-none" href={% url 'adminapp:user_update' pk=object.pk %}><i class="far fa-window-close"></i></a>
                            <a class="user d-none d-lg-block" href={% url 'adminapp:user_delete' pk=object.pk %}>
                                Delete
                            </a>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <button type="button" class="btn btn-secondary">
            <a class="user" href={% url 'adminapp:user_create' %}>
                New User
            </a>
        </button>
    </div>
{% endblock %}