{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
    <div class="user_delete text-center">
        Уверены, что хотите удалить {{ object.username }}
        {% if object.first_name %}
            <b>({{ object.first_name|title }}</b>
            {% if object.last_name %}
                {{ object.last_name|title }}
            {% endif %})
        {% endif %}
        ?
        <form action="{% url 'adminapp:user_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'adminapp:users' %}">
                Отмена
            </a>
        </button>
    </div>
{% endblock %}