{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <form class="form-horizontal col-6 userInfo" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <button class="form-control">сохранить</button>
    </form>
    <button class="btn btn-round form-control last register">
        <a href="{% url 'mainapp:main' %}" class="">
            на главную
        </a>
    </button>
    <div class="user_avatar col-6 userInfo"><img src="/media/{{ user.avatar }}" alt="No Avatar"></div>
{% endblock %}