<ul class="nav justify-content-center d-none d-lg-flex">
    <li class="nav-item">
        <a class="nav-link" href={% url 'basketapp:view' %}>
            <i class="fas fa-shopping-cart"></i>
            {% if basket %}
                <span>
                    {{ basket.0.total_cost|floatformat:0 }} руб
                    ({{ basket.0.total_quantity }} шт)
                </span>
            {% endif %}
        </a>
    </li>
    <li class="nav-item">
        <a class={% if request.resolver_match.url_name == 'main' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'mainapp:main' %}>About</a>
    </li>

    <li class="nav-item">
        <a class={% if request.resolver_match.url_name == 'projects' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'mainapp:projects' %}>Projects
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our houses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href={% url 'mainapp:products_of_categories' pk=0 %}>All houses</a>
            {% for cat in categories %}
                <a class="dropdown-item" href={% url 'mainapp:products_of_categories' pk=cat.pk %}>Project {{ cat.name }}</a>
            {% endfor %}
        </div>
    </li>
    <li class="nav-item">
        <a class={% if request.resolver_match.url_name == 'contacts' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'mainapp:contacts' %}>Contacts</a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'auth:edit' %}">
                {{ user.username|default:'User' }}
            </a>
        </li>
    {% endif %}
    <li class="nav-item">
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'auth:logout' %}">logout</a>
        {% else %}
            <a class="nav-link" href="{% url 'auth:login' %}">login</a>
        {% endif %}
    </li>
</ul>
<div class="pos-f-t d-lg-none">
    <div class="collapse row bg-dark justify-content-center" id="navbarToggleExternalContent">
        <a class="nav-link" href={% url 'basketapp:view' %}><i class="fas fa-shopping-cart"></i>
            <span>{{ basket|length }}</span>
        </a>
        <a class={% if request.resolver_match.url_name == 'main' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'mainapp:main' %}>About</a>
        <a class={% if request.resolver_match.url_name == 'projects' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'mainapp:projects' %}>Projects</a>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our houses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href={% url 'mainapp:products_of_categories' pk=0 %}>All houses</a>
            {% for cat in categories %}
                <a class="dropdown-item" href={% url 'mainapp:products_of_categories' pk=cat.pk %}>Project {{ cat.name }}</a>
            {% endfor %}
        </div>
        <a class={% if request.resolver_match.url_name == 'contacts' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'mainapp:contacts' %}>Contacts</a>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'auth:edit' %}">
                {{ user.username|default:'User' }}
            </a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
            <a class="nav-link" href="{% url 'auth:login' %}">войти</a>
        {% endif %}
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>