<ul class="nav justify-content-center d-none d-lg-flex">
    <li class="nav-item">
        <a class={% if request.resolver_match.url_name == 'main' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'main' %}>About</a>
    </li>
    <li class="nav-item">
        <a class={% if request.resolver_match.url_name == 'projects' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'projects' %}>Projects
        </a>
    </li>
    <li class="nav-item">
        <a class={% if request.resolver_match.url_name == 'contacts' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'contacts' %}>Contacts</a>
    </li>
</ul>
<div class="pos-f-t d-lg-none">
    <div class="collapse row bg-dark justify-content-center" id="navbarToggleExternalContent">
        <a class={% if request.resolver_match.url_name == 'main' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'main' %}>About</a>
        <a class={% if request.resolver_match.url_name == 'projects' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'projects' %}>Projects</a>
        <a class={% if request.resolver_match.url_name == 'contacts' %} 'nav-link nav-link_active'
                {% else %} nav-link
                {% endif %}
           href={% url 'contacts' %}>Contacts</a>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>