{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        {% include 'include/inc_logo.html' %}
        <div class="types">
            <div class="typesHeader row justify-content-between">
                <div class="headerTy col-4 d-flex justify-content-center align-items-center">
                    <img class="d-flex" src={% static "images/Group-left.png" %} alt="leftPic">
                </div>
                <div class="headerTyp col-4 d-flex justify-content-center align-items-center text-center">{{ len_items }} house types</div>
                <div class="headerTy col-4 d-flex justify-content-center align-items-center">
                    <img class="d-flex" src={% static "images/Group-right.png" %} alt="rightPic">
                </div>
            </div>
            <div class="typeItems row">
                {% for item in items %}
                    <a href="{% url 'products_of_categories' pk=item.pk %}" class="category typeItem col-md-6 col-12 text-center">
                        <div>
                            <img src={{ item.img.url }} alt="1">
                            <h2>{{ item.name }}</h2>
                            <p>{{ item.info }}</p>
                            <div>
                                <p class="price">Цена от: {{ item.price }} руб.</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}