<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class={% if request.resolver_match.url_name == 'users' %} 'nav-link nav-link_active'
        {% else %} nav-link
        {% endif %}
           href="{% url 'adminapp:users' %}">Users</a>
    </li>
    <li class="nav-item">
        <a class={% if request.resolver_match.url_name == 'categories' %} 'nav-link nav-link_active'
        {% else %} nav-link
        {% endif %}
           href="{% url 'adminapp:categories' %}">Categories</a>
    </li>
</ul>