<div class="footer d-flex align-items-center justify-content-md-between justify-content-around flex-column flex-md-row">
    <div class="footerLeft row">
        <div class="text d-flex align-items-center">share with your friends</div>
        <div class="iconsSocial d-flex">
            <a href="#">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="fab fa-instagram"></i>
                </div>
            </a>
            <a href="">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="fab fa-vk"></i>
                </div>
            </a>
            <a href="">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="fab fa-twitter"></i>
                </div>
            </a>
            <a href="">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="fab fa-facebook-f"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="footerRight">
        <div class="text">&copy; houses  {% now 'Y' %}</div>
    </div>
</div>